<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recon</title>
    <link rel="icon" href="../assets/logo-blue.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/materialize.min.css">

</head>
<body style="background: #ececec">
<div style="border-radius: 100px; padding: 10px 20px; background: #274db7; color: white; margin:70px 50px 30px 50px;">
    <div class="row">
        <div class="col align-self-start">
            HOW DOES IT WORK?
        </div>

        <div class="expand-on-hover col text-center col align-self-center">
            <a href="#">
                <img class="" src="../assets/half-circle.svg"
                     style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)">
                <img src="../assets/logo-white.svg"
                     style="position: absolute; bottom: 30%; left: 50%; transform: translateX(-50%)">
            </a>
        </div>
        <div class="col text-right align-self-end">
            RECON 0.0.1
        </div>
    </div>
</div>


<div class="row" style="margin: 0px 50px">
    <div class="col" id="recommended">
        <h4>RECOMMENDED</h4>
        <br>
        <div class="card-white">
            <div class="row">
                <div class="col-sm-auto">
                    <h3>Tuesday, August 21</h3>
                    <h1 style="color: #77ed69; font-size: 6rem">6.3</h1>
                    <div class="row my-2">
                        <div class="col">
                            <img class="tooltipped" data-position="top"
                                 data-tooltip="Peak Temperature" src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img class="tooltipped" data-position="top"
                                 data-tooltip="Cloudiness" src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img class="tooltipped" data-position="top"
                                 data-tooltip="Morning Temperature" src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img class="tooltipped" data-position="top"
                                 data-tooltip="Probability of Precipitation" src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="http://openweathermap.org/img/wn/10d@2x.png"
                         style="position: absolute; bottom: 50%; left: 50%; transform: translate(-50%,50%)">
                </div>
            </div>

        </div>
        <br>
        <div class="card-white">
            <div class="row">
                <div class="col-sm-auto">
                    <h3>Friday, August 21</h3>
                    <h1 style="color: #ff5757; font-size: 6rem">107.6</h1>
                    <div class="row my-2">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 22.81°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 0%
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 16.12°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="http://openweathermap.org/img/wn/10d@2x.png"
                         style="position: absolute; bottom: 50%; left: 50%; transform: translate(-50%,50%)">
                </div>
            </div>

        </div>
    </div>
    <div class="col" id="week">
        <h4>THIS WEEK</h4>
        <br>
        <a href="#collapse1" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Monday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse1">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse2" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Tuesday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse2">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse3" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Wednesday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse3">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse4" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Thursday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse4">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse5" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Friday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse5">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse6" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Saturday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse6">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <br>
        <a href="#collapse7" data-toggle="collapse">
            <div class="bar-white">

                <div class="row" style="font-size: 2rem">
                    <div class="col text-center">
                        <img src="http://openweathermap.org/img/wn/10d@2x.png">
                    </div>
                    <div class="col text-center text-vertical-center">
                        Sunday
                    </div>
                    <div class="col text-center text-vertical-center" style="color: #77ed69;">
                        15
                    </div>
                </div>
                <div class="collapse text-center pb-3" id="collapse7">
                    <div class="row my-2 px-5">
                        <div class="col">
                            <img src="../assets/peak-arrow.svg"> 24.72°C
                        </div>
                        <div class="col">
                            <img src="../assets/cloud.svg"> 83%
                        </div>
                    </div>
                    <div class="row px-5">
                        <div class="col">
                            <img src="../assets/min-arrow.svg"> 17.71°C
                        </div>
                        <div class="col">
                            <img src="../assets/water-drop.svg"> 100%
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
    <div class="col" id="preferences">
        <h4>PREFERENCES</h4>
        <br>
        <div class="card-white">

            <span style="color: #274db7">Dew Point</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="The temperature at which dew will form. Affects how humid it feels outside. <br>A higher dew point is more &quot;muggy&quot; and a lower dew point can cause dry skin."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="dewp" min="0" max="100"/>
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
            <span style="color: #274db7">Max. Temperature</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="The peak temperature of the day."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="maxtemp" min="0" max="100"/>
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
             <span style="color: #274db7">Min. Temperature</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="The temperature in the morning."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="mintemp" min="0" max="100" />
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
             <span style="color: #274db7">Cloudiness</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="A percentage of how cloudy it is."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="cloud" min="0" max="100" />
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
             <span style="color: #274db7">UV Index</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="The ultraviolet index measures the strength of sunburn-producing UV radiation.<br> A UV Index of more than 5 represents high risk of harm from unprotected sun exposure."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="uvi" min="0" max="100" />
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
                 <span style="color: #274db7">Probability of Precipitation</span>
            <img class="tooltipped d-inline-block" data-position="top"
                 data-tooltip="The probability of precipitation in a given day (ie. how likely it will rain or snow)."
                 src="../assets/help-circle.svg">
            <p class="range-field" style="margin-bottom: 0">
                <input type="range" id="pop" min="0" max="100" />
            </p>
            <div class="row">
                <div class="col">
                    Not Important
                </div>
                <div class="col text-right" style="color: #274db7">
                    Highly Important
                </div>
            </div>
            <br>
            <br>
            <div class="collapse" id="collapsePref">
                <div class="row">
                    <div class="col-sm-auto">
                        Advanced
                    </div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <br>
                <br>
                <span style="color: #274db7">Ideal Dew Point</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="idewp" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
                <span style="color: #274db7">Ideal Max. Temperature</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="imaxtemp" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
                <span style="color: #274db7">Ideal Min. Temperature</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="imintemp" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
                <span style="color: #274db7">Ideal Cloudiness</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="icloud" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
                <span style="color: #274db7">Ideal UV Index</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="iuvi" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
                <span style="color: #274db7">Ideal Probability of Precipitation</span>
                <p class="range-field" style="margin-bottom: 0">
                    <input type="range" id="ipop" min="0" max="100"/>
                </p>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                </div>
                <br>
            </div>
            <div class="text-right">
                <a href="#collapsePref" data-toggle="collapse"><u>Advanced</u></a>
            </div>
        </div>
    </div>
</div>
<div style="height: 40vh" class="text-center">
    <div style="margin: 20vh 0;">
        <img src="https://raw.githubusercontent.com/FrankWhoee/Assets/master/spacelogo.jpg"
             style="border-radius: 100px; height: 7.5vh;">
        <br><br>
        <h5>Made by <a href="https://frankwhoee.codes">@FrankWhoee</a></h5>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
        integrity="sha256-hBMojZuWKocCflyaG8T19KBq9OlTlK39CTxb8AUWKhY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>