<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recon</title>
    <link rel="icon" href="../assets/logo-blue.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap" rel="stylesheet">
    <link href="../style/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/materialize.min.css">

</head>
<body style="background: #ececec">
<div style="border-radius: 100px; padding: 10px 20px; background: #274db7; color: white; margin:70px 50px 30px 50px;">
    <div class="row">
        <div class="col align-self-start">
            <a class="text-white" href="/works">HOW DOES IT WORK?</a>
        </div>

        <div class="expand-on-hover col text-center col align-self-center">
            <a href="#">
                <img class="" src="../assets/half-circle.svg"
                     style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%)">
                <img src="../assets/logo-white.svg"
                     style="position: absolute; bottom: 30%; left: 50%; transform: translateX(-50%)">
            </a>
        </div>
        <div class="col text-right align-self-end">
            <a class="text-white" href="https://github.com/FrankWhoee/Recon">RECON 0.0.1</a>
        </div>
    </div>
</div>


<div class="row" style="margin: 0px 50px">
    <div class="col">
        <h4 class="text-vertical-center">RECOMMENDED &nbsp; <img class="tooltipped text-vertical-center"
                                                                 data-position="top"
                                                                 data-tooltip="This section displays the best<br> days to go hiking this week,<br> sorted by the Recon score, <br>calculated from  various weather<br> characteristics. The lower score,<br> the better the day is for hiking."
                                                                 src="../assets/help-circle.svg"></h4>
        <br>
        <div id="recommended">

        </div>

    </div>
    <div class="w-100 mobile-friendly"></div>
    <div class="col">
        <h4>THIS WEEK</h4>
        <br>
        <div id="week">

        </div>

    </div>
    <div class="w-100 mobile-friendly"></div>
    <div class="col" id="preferences">
        <h4 class="text-vertical-center">PREFERENCES &nbsp; <img class="tooltipped text-vertical-center"
                                                                 data-position="top"
                                                                 data-tooltip="Your preferences for how Recon scores are calculated. <br>You can place more or less emphasis on weather attributes,<br> and set your ideal weather values in the Advanced section."
                                                                 src="../assets/help-circle.svg"></h4>
        <br>
        <div class="card-white">
            <div>
                <span class="text-vertical-center" style="color: #274db7">Dew Point&nbsp; <img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="The temperature at which dew will form. Affects how humid it feels outside. <br>A higher dew point is more &quot;muggy&quot; and a lower dew point can cause dry skin."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="dewp" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center" >
                        <div id="indicate_dewp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7">Max. Temperature &nbsp;<img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="The peak temperature of the day."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="maxtemp" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center" >
                        <div id="indicate_maxtemp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> Morning Temperature &nbsp;<img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="The temperature in the morning. Serves as an approximation of the <br>lowest temperature of that day."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="morntemp" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center" >
                        <div id="indicate_morntemp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> Cloudiness &nbsp;<img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="A percentage of how cloudy it is."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="clouds" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_clouds" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> UV Index&nbsp;<img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="The ultraviolet index measures the strength of sunburn-producing UV radiation.<br> A UV Index of more than 5 represents high risk of harm from unprotected sun exposure."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="uvi" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_uvi" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> Probability of Precipitation&nbsp;<img
                        class="tooltipped text-vertical-center" data-position="top"
                        data-tooltip="The probability of precipitation in a given day (ie. how likely it will rain or snow)."
                        src="../assets/help-circle.svg"></span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="pop" min="0" max="100"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_pop" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Not Important
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        Highly Important
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="collapse" id="collapsePref">
                <div class="row">
                    <div class="col-sm-auto">
                        Advanced
                    </div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <br>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> &nbsp;Ideal Dew Point</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="idewp" min="-10" max="100" value="14.17"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center" >
                        <div id="indicate_idewp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        -10°C
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        25°C
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> &nbsp;Ideal Max. Temperature</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="imaxtemp" min="-90" max="50" value="20"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_imaxtemp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        -90°C
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        50°C
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> &nbsp;Ideal Morning Temperature</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="imorntemp" min="-90" max="50"
                                   value="17.5"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center" >
                        <div id="indicate_imorntemp" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        -90°C
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        50°C
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> &nbsp;Ideal Cloudiness</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="iclouds" min="0" max="100" value="50"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_iclouds" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        0%
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        100%
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center" style="color: #274db7"> &nbsp;Ideal UV Index</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="iuvi" min="0" max="11" value="0"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_iuvi" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        0
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        11
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
                <span class="text-vertical-center"
                      style="color: #274db7"> &nbsp;Ideal Probability of Precipitation</span>
                <div class="row">
                    <div class="col">
                        <p class="range-field" style="margin-bottom: 0">
                            <input type="range" class="preference_slider" id="ipop" min="0" max="100" value="0"/>
                        </p>
                    </div>
                    <div class="col-sm-auto text-vertical-center">
                        <div id="indicate_ipop" style="color: white; background: #274db7; border-radius: 50%; width: 30px; height: 30px"
                             class="text-vertical-center text-horizontal-center">
                            50
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        0%
                    </div>
                    <div class="col text-right" style="color: #274db7">
                        100%
                    </div>
                    <div class="col-sm-auto" style="opacity: 0">
                        <div style="width: 30px; height: 30px"></div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col">
                    <a class="button-blue" onclick="reset_preferences_wrap()" href="#" data-toggle="collapse">RESET</a>
                </div>
                <div class="col text-right text-vertical-center" style="justify-content: flex-end">
                    <a href="#collapsePref" data-toggle="collapse"><u>Advanced</u></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 40vh" class="text-center">
    <div style="margin: 20vh 0;">
        <img src="https://raw.githubusercontent.com/FrankWhoee/Assets/master/spacelogo.jpg"
             style="border-radius: 100px; height: 7.5vh;">
        <br><br>
        <h5>Made by <a href="https://frankwhoee.codes">@FrankWhoee</a></h5>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
        integrity="sha256-hBMojZuWKocCflyaG8T19KBq9OlTlK39CTxb8AUWKhY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="../js/materialize.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>